<link rel="stylesheet" href="css/header.css" />
<div id="header">
  <ul>
    <li>
      <img
        src="https://oceanology.hcmus.edu.vn/wp-content/uploads/2023/12/logo-KHTN_REMAKE-1-1024x1024.png"
        alt="logohcmus"
        class="logo"
      />
    </li>
    <li>
      <span class="name-web">HỆ THỐNG QUẢN LÝ ĐẠI LÝ</span>
    </li>
    <li class="right">
      <ul>
        <p><span class="account"></span></p>
        <p><span></span></p>
        <a href="#"><span class="logout">Đăng Xuất</span></a>
      </ul>
    </li>
  </ul>
</div>
<script src="js/header.js"></script>