<div id="sidebar">
  <ul>
    <li class="sb-home">
      <i class="ti-home"></i><a> Trang chủ</a>
    </li>

    <li class="sb-search">
      <i class="ti-search"></i><a> Tra cứu đại lý</a>
    </li>

    <li class="sb-import">
      <i class="ti-save"></i><a> Tiếp nhận đại lý</a>
    </li>

    <li class="sb-export">
      <i class="ti-share"></i><a> Phiếu xuất hàng</a>
    </li>

    <li class="sb-receipt">
      <i class="ti-money"></i><a> Hóa phiếu thu tiền</a>
    </li>

    <li class="sb-report">
      <i class="ti-image"></i><a> Báo cáo tháng</a>
    </li>

    <li class="sb-settings">
      <i class="ti-settings"></i><a> Cài đặt</a>
    </li>
  </ul>
</div>

<script src="js/sidebar.js"></script>