<link rel="stylesheet" href="css/home.css" />

<div id="home-content" class="content-page">
  <h1 class="home-page-header">Trang chủ</h1>
  <div class="home-picture"></div>
  <div></div>
  <div class="space"></div>
</div>