<link rel="stylesheet" href="css/import.css" />

<div id="import-content">
  <div class="import-page-header">
    <div class="import-name">
      <h1>Tiếp nhận đại lý</h1>
    </div>
  </div>
  <div class="import-page-container">
    <!-- phần nhập thông tin các đại lý-->
    <div class="name-import css-all-container">
      <ul>
        <li><p>Tên Đại Lý</p></li>
        <li><input type="text" name="import-name" /></li>
      </ul>
    </div>
    <div class="type-import css-all-container">
      <ul>
        <li><p>Loại Đại Lý</p></li>
        <li>
          <select id="import-type">
            <option value="" disabled selected></option>
            <option value="L1">Loại 1</option>
            <option value="L2">Loại 2</option>
          </select>
        </li>
      </ul>
    </div>
    <div class="number-phone-import css-all-container">
      <ul>
        <li><p>Điện thoại</p></li>
        <li><input type="text" name="import-SDT" /></li>
      </ul>
    </div>
    <div class="address-import css-all-container">
      <ul>
        <li><p>Địa chỉ</p></li>
        <li><input type="text" name="import-address" /></li>
      </ul>
    </div>
    <div class="Dictrict-import css-all-container">
      <ul>
        <li><p>Quận</p></li>
        <li>
          <select id="dictrict-type">
            <option value="" disabled selected></option>
            <option value="1">Quận 1</option>
            <option value="2">Quận 2</option>
            <option value="3">Quận 3</option>
            <option value="4">Quận 4</option>
            <option value="5">Quận 5</option>
            <option value="6">Quận 6</option>
            <option value="7">Quận 7</option>
            <option value="8">Quận 8</option>
            <option value="9">Quận 9</option>
            <option value="10">Quận 10</option>
            <option value="11">Quận 11</option>
            <option value="12">Quận 12</option>
            <option value="13">Quận 13</option>
            <option value="14">Quận 14</option>
            <option value="15">Quận 15</option>
            <option value="16">Quận 16</option>
            <option value="17">Quận 17</option>
            <option value="18">Quận 18</option>
            <option value="19">Quận 19</option>
            <option value="20">Quận 20</option>

          </select>
        </li>
      </ul>
    </div>
    <div class="email-import css-all-container">
      <ul>
        <li><p>Email</p></li>
        <li><input type="text" name="import-email" /></li>
      </ul>
    </div>
    <div class="submit-import css-all-container">
      <button id="submit-import">Xác nhận</button>
    </div>
  </div>
  <div class="space"></div>
</div>
<script src="js/import.js"></script>