<link rel="stylesheet" href="css/settings.css" />

<div id="settings-content" class="content-page">
  <div class="setting-page-header">
    <h1>Thay đổi quy định</h1>
  </div>
  <div class="setting-page-content">
    <div class="left-content">
      <div class="item agency-type">
        <div class="item-header">
          <h1>Loại đai lý & tiền nợ tối đa</h1>
        </div>
        <ul class="type">

        </ul>
        <div class="insert">
          <button>Thêm</button>
        </div>
        <div class="edit">
          <button>Sửa</button>
        </div>
        <div class="save">
          <button>Lưu</button>
        </div>
      </div>

      <div class="item goods-count">
        <div class="item-header">
          <h1>Số mặt hàng tối đa</h1>
        </div>
        <div class="maximum">
          <label>
            Tối đa:
            <input type="number" />
          </label>
        </div>
        <div class="edit">
          <button>Sửa</button>
        </div>
        <div class="save">
          <button>Lưu</button>
        </div>
      </div>
    </div>

    <div class="right-content">
      <div class="item maximum-agency">
        <div class="item-header">
          <h1>Đại lý tối đa trong quận</h1>
        </div>
        <div class="maximum">
          <label>
            Tối đa:
            <input type="number" />
          </label>
        </div>
        <div class="edit">
          <button>Sửa</button>
        </div>
        <div class="save">
          <button>Lưu</button>
        </div>
      </div>

      <div class="item unit-list">
        <div class="item-header">
          <h1>Đơn vị tính tối đa</h1>
        </div>
        <div class="maximum">
          <label>
            Tối đa:
            <input type="number" />
          </label>
        </div>
        <div class="edit">
          <button>Sửa</button>
        </div>
        <div class="save">
          <button>Lưu</button>
        </div>
      </div>
    </div>
  </div>
  <div class="space"></div>
</div>

<script src="js/settings.js"></script>