<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hệ thống quản lý đại lý</title>

    <link
      rel="stylesheet"
      href="themify-icons/themify-icons.css"
    /> 

    <link rel="stylesheet" href="css/container.css" />
    


  </head>
  <body>
    {{>headerDashboard}}

    <div id="container">
      {{!-- Sidebar --}}
      {{>sidebar}}
      
      {{{body}}}
  
  </body>
</html>